@use "../../styles/partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.profile {
  background-color: #0c243d;

  &__slogan {
    font-size: 1.5rem;
    color: #ede7e6;
    padding: 1.5rem;
    text-align: center;

    @include tablet {
      font-size: 2rem;
      padding: 2rem;
    }

    @include desktop {
      margin: 0 auto;
      max-width: $desktop-width;
      padding: 2rem 0;
    }
  }
}

.selected-movies,
.recommended-movies {
  display: flex;
  flex-direction: column;

  padding: 1.5rem 1rem;

  @include tablet {
    padding: 2.25rem 2rem;
  }

  @include desktop {
    margin: 0 auto;
    padding: 0;
    max-width: $desktop-width;
  }

  &__title {
    color: #ede7e6;
    font-size: 1.25rem;
    padding: 1rem 0;

    @include tablet {
      font-size: 1.5rem;
      padding: 1.5rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0;

    @include tablet {
      gap: 2rem;
      margin: 1.5rem 0;
    }
  }
}

.recommended-movies__list {
  @include desktop {
    padding-bottom: 3rem;
  }
}

.movie-card {
  &__container {
    position: relative;
  }
}

.add-icon {
  position: absolute;
  top: -0.15rem;
  left: -0.15rem;
  border: none;
  background: transparent;
  cursor: pointer;

  &__img {
    width: 1.25rem;

    @include tablet {
      width: 1.5rem;
    }
  }

  &__message {
    display: none;
    position: absolute;
    top: 2.3rem;
    left: -2.5rem;
    background: #fff;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
  }

  &:hover + &__message {
    display: block;
  }
}

.remove-icon {
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  border: none;
  background: rgba(202, 199, 199, 0.533);
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    background: rgba(222, 56, 10, 0.535);
  }

  &__img {
    width: 1.3rem;
    @include tablet {
      width: 1.8rem;
    }
  }

  &__message {
    display: none;
    position: absolute;
    top: 2.3rem;
    right: -2.5rem;
    background: #fff;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    z-index: 1;
  }

  &:hover + &__message {
    display: block;
  }
}
