.login-page {
  background: transparent;
  padding: 3rem 1rem;
  max-width: 28rem;
  width: 100%;
  margin: 2rem auto;
  gap: 2rem;
  position: relative;

  @media (min-width: 640px) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: 1024px) {
    padding: 3rem 2rem;
  }
}
